<!DOCTYPE html>
<html>
  <head>
    <title>Resume 1</title>
    <meta name="client-salt" content="<%= CLIENT_SALT %>" />
    <%= yield :meta_json %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
